<form [formGroup]="formularioDocumento">
  <label for="tipoDni" class="form-label">{{tipoDni}}</label>
  <input [ngClass]="{'is-invalid': hasErrors('dni', 'required') || hasErrors('dni', 'minlength') }" 
  type="text" 
  class="form-control" 
  id="name" 
  formControlName="tipoDni">
  <div class="text-danger" *ngIf="hasErrors('dni', 'required')"> {{tipoDni}} requerido </div> 
  <div class="text-danger" *ngIf="hasErrors('dni', 'minlength')"> {{tipoDni}} minimo 3 caracteres requeridos </div>
</form>